﻿@model BookViewModel

<div class="col-md-4 col-md-offset-4">
    <div class="row vertical-offset-100 main">

        <div class="main-login main-center">
            <div class="form-group">
                <label class="cols-sm-2 control-label">Name</label>
                <div class="cols-sm-10">
                    <span>@Model.Name</span>
                </div>
            </div>
            <div class="form-group">
                <label class="cols-sm-2 control-label">Author</label>
                <div class="cols-sm-10">
                    <span>@Model.Author</span>
                </div>
            </div>
            <div class="form-group">
                <label class="cols-sm-2 control-label">Category</label>
                <div class="cols-sm-10">
                    <span>@Model.CategoryId</span>
                </div>
            </div>
            <div class="form-group">
                <label class="cols-sm-2 control-label">Rating</label>
                <div class="cols-sm-10">
                    <span>@Model.Rating</span>
                </div>
            </div>
            <div class="text-center">
                <a asp-controller="Book" asp-action="Index">< Back to list</a>
            </div>
        </div>
    </div>
</div>