﻿@using Books.Web.Services.Categories
@model EditBookViewModel

@inject CategoryManager CategoryManager;

@{
    ViewBag.Categories = this.CategoryManager.Categories;
}

<div class="col-md-4 col-md-offset-4">
    <div class="row vertical-offset-100 main">
        <div asp-validation-summary="ModelOnly"></div>
        
        <div class="main-login main-center">
            <form asp-controller="Book" asp-action="UpdateBook" method="post" class="form-horizontal">
                
                <input asp-for="Id" type="hidden" />
                <input asp-for="UserId" type="hidden" />

                <div class="form-group">
                    <label asp-for="Name" class="cols-sm-2 control-label">Name</label>
                    <div class="cols-sm-10">
                        <input asp-for="Name" class="form-control" placeholder="Enter book name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="cols-sm-2 control-label">Author</label>
                    <div class="cols-sm-10">
                        <input asp-for="Author" class="form-control" placeholder="Enter book author" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="cols-sm-2 control-label">Category</label>
                    <div class="cols-sm-10">
                        <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))" class="form-control">
                            <option value="">Select category...</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="cols-sm-2 control-label">Rating</label>
                    <div class="cols-sm-10">
                        <input asp-for="Rating" class="form-control" placeholder="Rating" />
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
                </div>
                <div class="text-center">
                    <a asp-controller="Book" asp-action="Index">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
