﻿

<div class="container-fluid vertical-offset-15">
    
    <div class="row">
        <div class="container-fluid">
            Show &nbsp;
            <select class="form-control" style="width: 70px; display: inline">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">50</option>
            </select>
            &nbsp;books
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Author
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Rating
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Default
                        </td>
                        <td>
                            Default
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row text-center">
        <ul class="pagination ">
            <li>
                <a href="#">Prev</a>
            </li>
            <li>
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">Next</a>
            </li>
        </ul>
    </div>
</div>

@section Script{ 
	<script>
		window.api = {
			getBookUrl: '@Url.Action("GetBooks")'
		};
		</script>
	<script src="JS/Book/BookIndex.js">
	</script>
}