﻿@model LogInViewModel

<div class="row vertical-offset-100">
    
    <div asp-validation-summary="ModelOnly" class="col-md-4 col-md-offset-4"></div>
    
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please sign in</h3>
            </div>
            <div class="panel-body">
                <form accept-charset="UTF-8" role="form" asp-action="LogIn" asp-route-returnUrl="@ViewBag.ReturnUrl" method="post">
                    <fieldset>
                        <div class="form-group">
                            <input asp-for="Login" class="form-control" placeholder="Login">
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" class="form-control" placeholder="Password" type="password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input asp-for="RememberMe" type="checkbox"> Remember Me
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log in">
                        </div>
                        <div class="text-center">
                            <a asp-controller="Account" asp-action="Register">Register</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
