﻿@model BookManagerCore.ViewModels.RegisterViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register or SignIn</title>
</head>
<body>
    <div>
        <h4>Hello, @ViewBag.Name</h4>
    </div>
    <div>
        @Html.ActionLink("Register", "Register")
    </div>
    <div>
        @Html.ActionLink("Sign In", "LogIn")
    </div>
</body>
</html>
