﻿@model RegisterViewModel

<div class="col-md-4 col-md-offset-4">
    <div class="row vertical-offset-100 main">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="main-login main-center">
            <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal">

                <div class="form-group">
                    <label asp-for="Login" class="cols-sm-2 control-label">Login</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input asp-for="Login" class="form-control" placeholder="Enter your Login"/>
                        </div>
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Enter your Password"/>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="cols-sm-2 control-label">Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm your Password"/>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                </div>
                <div class="text-center">
                    <a asp-controller="Account" asp-action="LogIn">Log in</a>
                </div>
            </form>
        </div>
    </div>
</div>
