﻿.body-content {
    margin-top: 55px;
}

.vertical-offset-15 {
    padding-top: 15px;
}

.vertical-offset-100{
    padding-top: 100px;
}

.validation-summary-errors ul {
    list-style: none;
    color: red;
    padding: 0;
}