﻿@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="LogOut" method="post" class="navbar-right" id="logoutForm">
        
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="javascript:void(0)">@User.Identity.Name</a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        </ul>

    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li>
            <a asp-controller="Account" asp-action="LogIn">Log in</a>
        </li>
    </ul>
}
